<!-- Main Header -->
<%- include('include/header') -%>

<!-- Left side column. contains the logo and sidebar -->
<%- include('include/menuLateral') -%>


<div  style="background-color: white; " class="content-wrapper">

     


        <div class="box-header" style="height:44px;max-width: 1050px">

                <div class="box-tools">
                  <form action="/admin/historico" method="get">
                 
                    <div class="form-group" style="width: 182px; float: left">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" name="dateStart" class="form-control unstyled" >
                      </div>
                    </div>
                    <div class="form-group" style="width: 182px; float: left">
                      <div class="input-group">
                        <div class="input-group-addon">
                          até
                        </div>
                        <input type="date" name="dateEnd" class="form-control unstyled" >
                      
                      </div>
                    </div>
                 
                    <div  style="max-width: 150px; float: left" class="form-group">
                            
                            <select name="sensor" class="form-control">
                              <option >Sensor</option>
                              <%sensores.forEach((sensor)=>{%>
                                <option value="<%=sensor.idSensor%>" ><%=sensor.apelido%></option>
                              <%})%>
                            </select>
                    </div>
                    <div class="form-group" style="float: left; margin-left: 7px;">
                      <button type="submit" class="btn btn-default">OK</button>
                    </div>
                  </form>
                </div>
              </div>
              <%if(typeof results == "object"){%>
        <div class="box-body"  >
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                  <thead>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Temp min.</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Temp media.</th>

                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Temp max.</th>

                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Umid min</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Umid media</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Umid max</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Data</th></tr>


                  </thead>
                  <tbody>
                  <%results.forEach((rs)=>{ %>

                    <tr role="row" class="odd">
                      <td><%=rs.tempMin%></td>

                      <td><%=rs.tempMedia%></td>
                      <td><%=rs.tempMax%></td>
                      <td><%=rs.umidMin%></td>
                      <td><%=rs.umidMedia%></td>
                      <td><%=rs.umidMax%></td>

                      <td><%=rs.data%></td>
                </tr>

                 <% })%>
                  
                  

            </tbody>
                  </table>
              </div>
            <!-- /.content-wrapper -->
        
            
        
          </div>
        
        
            


        </div>
      </div>
      <%}%>
     <!-- jQuery 3 -->
     <script src="bower_components/jquery/dist/jquery.min.js"></script>
     <!-- Bootstrap 3.3.7 -->
     <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
     <!-- PACE -->
     <script src="bower_components/PACE/pace.min.js"></script>
     <!-- SlimScroll -->
     <script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
     <!-- FastClick -->
     <script src="bower_components/fastclick/lib/fastclick.js"></script>
     <!-- AdminLTE App -->
     <script src="dist/js/adminlte.min.js"></script>
     <!-- AdminLTE for demo purposes -->
     <script src="dist/js/demo.js"></script>
     <!-- page script -->
     <script type="text/javascript">
       // To make Pace works on Ajax calls
       $(document).ajaxStart(function () {
         Pace.restart()
       })
       $('.ajax').click(function () {
         $.ajax({
           url: '#', success: function (result) {
             $('.ajax-content').html('<hr>Ajax Request Completed !')
           }
         })
       })
     </script>
   