<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img id="imgUser" src="<%=user.foto%>" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%=user.Nome_completo%></p>
          <p style="font-size: 13px">CRF: <%=user.CRF%></p>


          <!-- Status -->
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
        
        <li id="sensores" class="active treeview menu-open">
          <a href="#">
            <i class="fa ios-analytics"></i><span>Sensores</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <%if(sensores.length > 0) { %>

          <ul class="treeview-menu">
            <% sensores.forEach((sensor)=>{ %>
            <li class="active"><a href="/admin/monitoramento?id=<%=sensor.idSensor%>"><i class="fa fa-circle-o"></i><%=sensor.apelido%></a></li>

            <% }) %>
          </ul>


          <% } %>

        </li>
        
        <li>

         
          <a href="/admin/user">
            <i class="fa fa-circle"></i>
            <span>Usuarios</span>
          </a>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>